# Blog Configuration
NEXT_PUBLIC_BLOG_ID="your_blog_id"
NEXT_PUBLIC_BLOG_DISPLAY_NAME="Growth BDM"
NEXT_PUBLIC_BLOG_COPYRIGHT="Growth BDM"
NEXT_DEFAULT_METADATA_DEFAULT_TITLE="Growth Business Development"
NEXT_PUBLIC_BLOG_DESCRIPTION="Desarrollamos estrategias personalizadas para impulsar el crecimiento de tu negocio a través de alianzas estratégicas y networking efectivo."
NEXT_PUBLIC_BASE_URL="http://localhost:3022"

# API Keys and Secrets (replace with your actual values)
OG_IMAGE_SECRET="your_og_image_secret"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your_stripe_key"
